@import url('https://fonts.bunny.net/css?family=Lexend;400,400i,700,700i');

:root {
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --text: aqua;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface2: #585b70;
    --surface1: #45475a;
    --surface0: #313244;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;
    --inverted-text: var(--crust);
    --selection-color: var(--mauve);
}

body {
    font-family: 'Lexend', Calibri, Carlito, sans-serif;
    margin: 20px;
    background-color: var(--base);
    color: var(--text);
}

.card {
    background-color: var(--surface0);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

#dashboard {
    max-width: 1600px;
    margin: auto;
}

canvas {
    margin-bottom: 30px;
}

.important-values {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
}

.chart-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.chart-box {
    flex: 1 1 45%;
    min-width: 250px;
    max-width: 450px;
    justify-content: center;
}

.centretext {
    text-align: center;
}

.upwidgets {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.takeupfullwidth {
    max-width: 100% !important;
}