@import "https://code.highcharts.com/dashboards/css/dashboards.css";

body {
    font-family: Calibri, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #f4f4f9;
}

text.highcharts-legend-navigation{
    fill: white;
}

.loading-indicator {
    color: orange;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

header {
    background-color: #052c50;
    color: white;
    padding: 0.5em;
    text-align: center;
}

header .content {
    max-width: 1000px;
    margin: 0 auto;
}

main {
    padding: 1em;
    max-width: 1200px;
    margin: 0 auto;
}

#chart-container {
    width: 100%;
    max-width: 900px;
    height: 500px;
}

#info {
    text-align: center;
}

#info p {
    margin: 0.5em 0;
}

.maindivdiv {
    display: flex;
    justify-content: space-between; /* Horizontally center the inner divs */
    flex-direction: row;
    gap: 1em;
}

.maindivdiv div {
    flex: 1; /* Make the inner divs take up the same space */
}

#overview {
    text-align: center;
    font-size: 1.5em;
    display: none;
    flex-direction: column;
}

@media screen and (max-width: 1100px) {
    .maindivdiv {
        flex-direction: column; /* Change to a column layout */
        text-align: center;
    }
}