---
import Layout from "../layouts/Layout.astro"
import InfoHover from "../components/InfoHover.astro"
---

<Layout title="Dashboard" description="A UK grid dashboard; shows the status of the UK's electricity grid">
    <div class="card centretext">
        <h2>wGrid Dashboard: The UK's Current Electricity Mix</h2>
    </div>
    <h1 class="centretext" id="loadingIndicator">Loading...</h1>
    <noscript>
        <h1 class="centretext" style="color: crimson">JavaScript is required to view this page.</h1>
    </noscript>
    <div class="upwidgets">
        <div class="card centretext">
            <h2>CO<sub>2</sub> Index <InfoHover text="This is the current amount of carbon dioxide emitted every time one kWh is consumed. It is calculated by NESO at carbonintensity.org.uk" /></h2>
            <p class="important-values" id="co2-index"></p>
        </div>
        <div class="card centretext">
            <h2>Power <InfoHover text="Total is total consumption, generation is generation plus imports, and demands is exports and pumped hydro (when it is storing)" /></h2>
            <p class="important-values" id="power-equation"></p>
        </div>
        <div class="card centretext">
            <h2>Progress to 2030 target <InfoHover text="The 2030 Target, as set by the government, is 50gCO₂/kWh. This is the multiplier of this amount over the past year. 1x means the target is met."/></h2>
            <p class="important-values" id="progress"></p>
        </div>
    </div>
    <div class="chart-container">
        <div class="chart-box card">
            <h3 class="centretext">Generation Sources <InfoHover text="This shows the percentage of total generation coming from each source at any given time." /></h3>
            <canvas id="generationDoughnutChart"></canvas>
        </div>
        <div class="chart-box card">
            <h3 class="centretext">Imports <InfoHover text="The UK has many interconnectors to other countries. This shows the percentage of total imports coming from each source at any given time. Very occasionally, there will be zero, so this chart doesn't show up." /> </h3>
            <canvas id="importsDoughnutChart"></canvas>
        </div>
        <div class="chart-box card">
            <h3 class="centretext">Generation Categories <InfoHover text="This shows the proportion of generation coming from each source. Biomass is in low-carbon, not renewables, as sometimes biomass is imported from non-renewable sources." /></h3>
            <canvas id="categoryBarChart"></canvas>
        </div>
    </div>
    <br>
    <div id="timePeriodButtons" class="tab">
        <button id="defaultButton" class="tablinks" onclick="openTab(this, 'past48HoursContainer')">Past 48 Hours</button>
        <button class="tablinks" onclick="openTab(this, 'pastWeekContainer')">Past Week</button>
        <button class="tablinks" onclick="openTab(this, 'pastYearContainer')">Past Year</button>
    </div>
    <div class="tabcontent" id="past48HoursContainer">
        <div class="chart-container">
            <div class="chart-box card takeupfullwidth">
                <h3 class="centretext">Past 48 hours (in MW) <InfoHover text="This shows the total power generated for the past 48 hours. This includes generation, imports and exports. Click on each of the generation sources at the side to toggle them from the chart." /></h3>
                <canvas id="past48Hours"></canvas>
            </div>
        </div>
        <div class="chart-container">
            <div class="chart-box card takeupfullwidth">
                <h3 class="centretext">CO<sub>2</sub> for the past 48 hours (in gCO<sub>2</sub>/kWh) <InfoHover text="This shows the amount of carbon dioxide emitted for the past 48 hours per kWh. Oftentimes actual data is not available for the most recent half an hour, so will show zero and forecast should be used instead." /></h3>
                <canvas id="past48HoursCO2"></canvas>
            </div>
        </div>
    </div>
    <div class="tabcontent" id="pastWeekContainer">
        <div class="chart-container">
            <div class="chart-box card takeupfullwidth">
                <h3 class="centretext">Past week (in MW)</h3>
                <canvas id="pastWeek"></canvas>
            </div>
        </div>
        <div class="chart-container">
            <div class="chart-box card takeupfullwidth">
                <h3 class="centretext">CO<sub>2</sub> for the past week (in gCO<sub>2</sub>/kWh)</h3>
                <canvas id="pastWeekCO2"></canvas>
            </div>
        </div>
    </div>
    <div class="tabcontent" id="pastYearContainer">
        <div class="chart-container">
            <div class="chart-box card takeupfullwidth">
                <h3 class="centretext">Past year (in MW)</h3>
                <canvas id="pastYear"></canvas>
            </div>
        </div>
        <div class="chart-container">
            <div class="chart-box card takeupfullwidth">
                <h3 class="centretext">CO<sub>2</sub> for the past year (in gCO<sub>2</sub>/kWh)</h3>
                <canvas id="pastYearCO2"></canvas>
            </div>
        </div>
    </div>
    <p>
        wGrid Dashboard: The UK's Current Electricity Mix | Data updated every 30 minutes | 
        <a style="color: orange" href="mailto:contact@wilburwilliams.uk">contact@wilburwilliams.uk</a>
    </p>
    <script is:inline src="/chart.js"></script>
    <script is:inline src="/script.js"></script>
    <script is:inline>
        initialiseDashboard();
    </script>
</Layout>