---
const title = Astro.props.title;
const description = Astro.props.description;
import '../styles/style.css';
---

<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content={description}>
		<meta name="fediverse:creator" content="@wilbur@wetdry.world">
		<meta property="og:url" content="https://grid.me.uk/">
		<meta property="og:type" content="website">
		<meta property="og:title" content="wGrid Dashboard">
		<meta property="og:description" content={description}>
		<meta property="og:keywords" content="grid, electricity, uk, dashboard, api, status, data, live, current">
		<link rel="canonical" href="https://grid.me.uk/">
		<link rel="preconnect" href="https://assets.c48.uk" crossorigin="anonymous">
		<link rel="icon" href="/favicon.ico">
		<title>{title} | wGrid</title>
	</head>
	<body>
	    <div class="card nav">
	        <a href="/">
	            <img src="/favicon.ico" alt="logo">
	        </a>
	        <a href="/">
	            wGrid Dashboard
	        </a>&nbsp;|&nbsp;
	        <a href="/about/">About</a>
	        &nbsp;|&nbsp;
	        <a href="/historical/">Historical</a>
	    </div>
	    <slot />
	</body>
</html>
