---
const title = Astro.props.title;
const description = Astro.props.description;
---

<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content={description}>
		<meta name="fediverse:creator" content="@wilbur@wetdry.world">
		<meta property="og:url" content="https://grid.me.uk/">
		<meta property="og:type" content="website">
		<meta property="og:title" content="wGrid Dashboard">
		<meta property="og:description" content={description}>
		<link rel="canonical" href="https://grid.me.uk/">
		<link rel="preload" href="/lexend-400-normal.woff2" as="font" type="font/woff2" crossorigin="anonymous" >
		<link rel="preload" href="/lexend-700-normal.woff2" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" href="/style.css" as="style" type="text/css" crossorigin="anonymous">
		<link rel="icon" href="/favicon.ico">
		<link rel="stylesheet" href="/style.css">
		<title>{title} | wGrid</title>
	</head>
	<body>
		<div id="dashboard">
			<div class="card nav">
				<a href="/">
					<img src="/favicon.ico" alt="logo">
				</a>
				<a href="/">
					wGrid Dashboard
				</a>&nbsp;|&nbsp;
				<a href="/about/">About</a>
				&nbsp;|&nbsp;
				<a href="/historical/">Historical</a>
			</div>
			<slot />
		</div>
	</body>
</html>
